.container-fluid.navbar1 {
  background-color: white;
  /*padding-left: 1px;*/
}
.container-fluid.navbar2 {
  /*background-color: white;*/
  padding-left: 1px;
}

.container-fluid.navbar1 {
  padding-top: 12px;
  padding-bottom: 8px;
}

nav.navbar.navbar-default.navbar1.custom {
  margin-bottom: -2px;
}

.navbar-default {
  background-color:#0033A0 !important;
  color:#666666 !important;
}

.navbar-default .navbar-nav>li>a{

  color: white !important;
}



/*body {*/
  /*background-repeat: no-repeat, repeat;*/
  /*background-image: url('../assets/images/infotainment blank.png');*/
/*}*/
