.center_div{
  /*margin: 0 auto;*/
  /*width:80% !* value of your choice which suits your alignment *!*/
}

.sectionHeader{
  margin: 0 auto;
  /*width:80%;*/
  font: "GM Global Sans";
  /*text-align: center;*/
  /*text-decoration: underline;*/
  padding-top:25px;
}

.quickLinks {
  text-align: center;
}


/*stickyNav Stuff*/

#stickyNav {
  margin: 0;
  z-index:1000;
}
#stickyNav.affix {
  position: fixed;
  top: 0;
  width: 100%;
}


.container-fluid.navbar1 {
  background-color: white;
  /*padding-left: 1px;*/
}
.container-fluid.navbar2 {
  /*background-color: white;*/
  padding-left: 1px;
}

.container-fluid.navbar1 {
  padding-top: 12px;
  padding-bottom: 8px;
}

nav.navbar.navbar-default.navbar1.custom {
  margin-bottom: -2px;
}

li.nav-item.custom2 {
  padding-top: 11px;
}

.navbar-default {
  background-color:#0033A0 !important;
  color:#666666 !important;
}

.navbar-default .navbar-nav>li>a{

  color: white !important;
}

body {
  font-family: "GM Global Sans" !important;
}

ul.nav.navbar-nav.navbar-right {
  padding-top: 4px;
  padding-right: 30px;
  font-size: 16px;
}

li.nav-item.custom {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left:7px;
}

span#topNavName {
  color: white;
  font-size: 28px;
  padding-left: 10px;
}

span#topNavEmail {
  color: white;
  font-size: 14px;
  padding-left: 20px;
}
span#topNavPhone {
  color: white;
  font-size: 14px;
  padding-left: 20px;
}

.nav-wrapper
{
  min-height:70px;
}

span.glyphicon.glyphicon-user {
  font-size: 23px;
}
