<div class="nav-wrapper">
  <nav class="navbar navbar-default navbar2 custom" id="stickyNav">
    <div class="container-fluid navbar2">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item custom">
          <!--<span class="glyphicon glyphicon-user"></span>-->
          <span id="topNavName">{{returnedVehicle[0].year}} {{returnedVehicle[0].make}} {{returnedVehicle[0].model}}</span>
        </li>
        <!--<li class="nav-item custom2">-->
          <!--<span id="topNavEmail"><span class="glyphicon glyphicon-envelope"></span> : {{chosenAccount.contactInfo.email}}</span>-->
          <!--<br>-->
          <!--<span id="topNavPhone"><span class="glyphicon glyphicon-earphone"></span> : {{chosenAccount.contactInfo.phone}}</span>-->

        <!--</li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a [routerLink]="['/accountsearch', uuid]" fragment="contactSection">Contact Details</a></li>-->
        <!--<li><a [routerLink]="['/accountsearch', uuid]" fragment="vehicleProfilesSection">Vehicle Profiles</a></li>-->
        <!--<li><a [routerLink]="['/accountsearch', uuid]" fragment="applicationsSection">Applications</a></li>-->
        <!--<li><a [routerLink]="['/accountsearch', uuid]" fragment="agreementsSection">Agreements</a></li>-->
        <!--<li><a [routerLink]="['/accountsearch', uuid]" fragment="favoritesSection">Favorites</a></li>-->
      </ul>
    </div>
  </nav>
</div>

<!--{{returnedVehicle[0].color}} {{returnedVehicle[0].make}} {{returnedVehicle[0].model}} with VIN {{vin}}-->

<div class="container">

  <div class="row" id="vehicleDetailsSection">
    <h3 class="sectionHeader">Vehicle Details <a><span class="glyphicon glyphicon-pencil" style="font-size: 18px;"></span></a></h3>
    <div class="col-md-4 col-md-offset-2">
      <ul style="list-style-type: none; padding-top: 20px; font-size: 16px;">
        <li><span style=""><b>Make/Model: </b>{{returnedVehicle[0].year}} {{returnedVehicle[0].make}} {{returnedVehicle[0].model}}</span></li>
        <li><span style=""><b>Contact/Vehicle Name: </b> {{returnedVehicle[0].year}} {{returnedVehicle[0].model}} {{vin}}</span></li>
        <li><span style=""><b>Contact: </b> Name Here</span></li>
        <li><span style=""><b>VIN: </b> {{vin}}</span></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul style="list-style-type: none; padding-top: 20px; font-size: 16px;">
        <li><span style=""><b>Created By:</b></span></li>
        <li><span style=""><b>Phone:</b></span></li>
        <li><span style=""><b>Info 3 Account Status:</b></span></li>
        <li><span style=""><b>Contact/Vehicle Name: </b> {{returnedVehicle[0].year}} {{returnedVehicle[0].model}} {{vin}}</span></li>
      </ul>
    </div>
  </div>

  <div class="row" id="vehiclePreferencesSection">
    <h3>Preferences</h3>

  </div>

  <div class="row" id="lastSyncSection">
    <h3>Last Sync</h3>

  </div>

  <div class="row" id="applicationsOnVehicleSection">
    <h3>Applications on Vehicle</h3>

  </div>

  <div class="row" id="transactionHistorySection">
    <h3>Transaction History</h3>

  </div>

  <div class="row" id="vehicleProfileHistory">
    <h3>Vehicle Profile History</h3>

  </div>



</div>
