/* You can add global styles to this file, and also import other style files */
body {
font-family: "GM Global Sans" !important;
}


.c-user-menu {
  padding-right: 20px;
  padding-top: 10px;
}

a.j-dropdown {
  font-size: 11px;
}
