.table-responsive {
  padding-top: 20px;
}

h3.tableTitle {
  padding-top: 20px;
  text-decoration: underline;
}

th {
  font-size: 12px;
}

td {
  font-size:11px;
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}
.center_div2{
  margin: 0 auto;
  width:90%;
}

.submitButtonDiv {
  padding-top: 37px;
  /*margin-left: 65%;*/
  /*padding-bottom: 50px;*/
}

button#searchButton3 {
  margin-left: 37px;
  margin-top: 10px;
}

body {
  font-family: "GM Global Sans" !important;
}

#stickyNav {
  margin: 0;
  z-index:1000;
}
#stickyNav.affix {
  position: fixed;
  top: 0;
  width: 100%;
}


.container-fluid.navbar1 {
  background-color: white;
  /*padding-left: 1px;*/
}
.container-fluid.navbar2 {
  /*background-color: white;*/
  padding-left: 1px;
}

.container-fluid.navbar1 {
  padding-top: 12px;
  padding-bottom: 8px;
}

nav.navbar.navbar-default.navbar1.custom {
  margin-bottom: -2px;
}

.navbar-default {
  background-color:#0033A0 !important;
  color:#666666 !important;
}

.navbar-default .navbar-nav>li>a{

  color: white !important;
}

body {
  font-family: "GM Global Sans" !important;
}

.searchDiv {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top:120px;
  transition: all 0.5s ease;
}

div#clearButtonDiv {
  margin-left: 5%;
  margin-bottom: 20px;
  margin-top: 30px;
}

/*card stuff*/
.card{
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.list-group-item {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

div#resultCard {
  margin-right: 15px;
}

li.list-group-item.custom {
  border: none;
  padding-left: 0%;
  /* float: left; */
  padding-bottom: 0%;
}

div#searchDetails {
  margin-left: 6%;
  padding-top: 40px;
  padding-bottom: 20px;
}


div#searchArea {
  padding-top: 100px;
}

input#searchByPhoneInput {
  margin-top: 18px;
}

input#searchByEmailInput {
  margin-top: 18px;
}

/*button stuff*/

.c-btn.c-btn-primary {
  font-size: 15px;
}

button.c-btn.c-btn-secondary.cardButton2 {
  font-size: 14px;
  width:100%;
}

button.c-btn.c-btn-primary.cardButton1 {
  font-size: 14px;
  width:100%
}

.card{

  border:2px solid grey;
}

#goToResultsButton{

  margin-left: 10px;
}
