<nav class="navbar navbar-default navbar2 custom">
  <div class="container-fluid navbar2">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
<div class="searchDiv" id="searchDiv">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" data-target="#searchByPhone" href="" style="font-size: 18px;"><span class="glyphicon glyphicon-earphone"></span>  Search by Phone</a></li>
    <li><a data-toggle="tab" data-target="#searchByEmail" href="" style="font-size: 18px;"><span class="glyphicon glyphicon-envelope"></span>  Search by Email</a></li>
    <li><a data-toggle="tab" data-target="#advancedSearch" href="" style="font-size: 18px;"><span class="glyphicon glyphicon-search"></span>  Advanced Search</a></li>
  </ul>

  <div class="tab-content">
    <div id="searchByPhone" class="tab-pane fade in active">
      <div class="" style="padding-left: 30px;">


        <!--<label for="searchByPhoneInput" style="display: block; font-size: 18px; padding-top: 20px;" id="iterationPathLabel" style="margin-top:10px; font-size:20px;"></label>-->
        <div class="col-md-10" style="padding-left: 0px ; padding-top: 20px;">

        <input id="searchByPhoneInput" type="text" class="form-control" ng-model="searchByPhoneInputText" placeholder="Phone number">
        </div>

        <div class="col-md-2" style="padding-top: 36px;">
          <button type="submit" data-toggle="collapse" style="font-size: 18px;" class="c-btn c-btn-primary" id="" (click)="searchClicked()">Search</button>
        </div>


        <!--<div id="searchByPhoneDiv">-->
          <!--<div class="j-form-group c-form-group">-->
            <!--<input type="text" value="" id="input1" name="" />-->
            <!--<label style="top: -7px;" for="input1">Phone Number</label>-->
          <!--</div>-->
      <!--</div>-->

    </div>
    </div>

    <div id="searchByEmail" class="tab-pane fade">
      <div class="" style="padding-left: 30px;">
        <div class="col-md-10" style="padding-left: 0px ; padding-top: 20px;">
          <input id="searchByEmailInput" type="text" class="form-control" ng-model="searchByEmailInputText" placeholder="Email">
        </div>

        <div class="col-md-2" style="padding-top: 36px;">
          <button type="submit" data-toggle="collapse" style="font-size: 18px;" class="c-btn c-btn-primary" id="searchButton" (click)="searchClicked()">Search</button>
        </div>
      </div>
    </div>

    <div id="advancedSearch" class="tab-pane fade">
      <div class="" style="padding-left: 30px; padding-top: 20px;">
        <form>
          <!--<h3 style="text-decoration: underline; padding-bottom: 20px;">Customer Search</h3>-->
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)] = 'emailInput' name="emailInput" autocomplete="email">
            </div>
            <div class="form-group col-md-4">
              <label for="inputPhone">Phone Number</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number" autocomplete="tel">
            </div>
            <div class="form-group col-md-4">
              <label for="inputLastName">Last Name</label>
              <input type="email" class="form-control" id="inputLastName" placeholder="Last Name" autocomplete="last-name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputFirstName">First Name</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" autocomplete="given-name">
            </div>
            <div class="form-group col-md-4">
              <label for="inputZip">Zip/Postal Code</label>
              <input type="email" class="form-control" id="inputZip" placeholder="ZIP">
            </div>
            <div class="form-group col-md-4">
              <label for="inputVin">VIN</label>
              <input type="text" class="form-control" id="inputVin" placeholder="VIN">
            </div>
          </div>
        </form>
        <div class="col-md-2 col-md-offset-9 advancedButtonDiv">
          <button type="submit" data-toggle="collapse" style="font-size: 18px;" class="c-btn c-btn-primary" id="searchButton3"  (click)="searchClicked()">Search</button>
        </div>

      </div>
    </div>

    <!--<div class="submitButtonDiv">-->
      <!--<button type="submit" data-toggle="collapse" style="font-size: 18px;" class="c-btn c-btn-primary" id="searchButton" (click)="searchClicked()">Search</button>-->
    <!--</div>-->
  </div>
</div>
</div>

<div class="row">
  <div id="searchDetails">
    <h3>Showing results for: Joseph Kanaan</h3>
  </div>
</div>

<!--<div id="clearButtonDiv">-->
<!--<button type="submit" style="font-size: 13px;" class="c-btn c-btn-secondary" (click)="clearSearchClicked()">Clear Search</button>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="submitButtonDiv">-->
  <!--<button type="submit" data-toggle="collapse" style="font-size: 18px;" class="c-btn c-btn-primary" id="searchButton" (click)="searchClicked()">Search</button>-->
<!--</div>-->
<!--</div>-->
<!--Needed if we decide to go back to a table approach instead of cards.-->
<!--<div class=" center_div2" *ngIf="returnedAccounts && returnedAccounts.length">-->
  <!--<h3 class="tableTitle">Search Results</h3>-->
<!--<div class="table-responsive">-->
  <!--<table class="table table-bordered table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>Contact Name</th>-->
      <!--<th>Year/Make/Model</th>-->
      <!--<th>VIN</th>-->
      <!--<th>Vehicle Profile</th>-->
      <!--<th>Association Status</th>-->
      <!--<th>Primary Email</th>-->
      <!--<th>Home Phone Number</th>-->
      <!--<th>Zip/Postal Code</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let account of returnedAccounts" (click)="showVerificationModal(account)">-->
      <!--<td><a>{{account.contactName}}</a></td>-->
      <!--<td>{{account.yearMakeModel}}</td>-->
      <!--<td><a>{{account.vin}}</a></td>-->
      <!--<td><a>{{account.vehicleProfile}}</a></td>-->
      <!--<td>{{account.associationStatus}}</td>-->
      <!--<td>{{account.primaryEmail}}</td>-->
      <!--<td>{{account.homePhone}}</td>-->
      <!--<td>{{account.zip}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
<!--</div>-->

<div class="row center_div2" id="resultsArea">
  <!--<h3 style="padding-bottom: 15px; text-decoration: underline">Search Results</h3>-->
<div class="col-md-3 card" id="resultCard" style="width: 20rem;" *ngFor="let account of returnedAccounts">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
<!---->
  <div class="card-block">
    <h4 class="card-title">{{account.firstName}} {{account.lastName}}</h4>
    <p class="card-text">{{account.email}}</p>
    <p class="card-text">{{account.phone}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item custom"><button (click)="showVerificationModal(account)" class="c-btn c-btn-primary cardButton1">View Customer Info</button></li>
    <li class="list-group-item custom"><button (click)="showVerificationModal(account)" class="c-btn c-btn-secondary cardButton2">View Vehicle Profiles</button></li>
    <!--<li class="list-group-item"><a href="#" class="card-link">Contact Details</a></li>-->
    <!--<li class="list-group-item"><a href="#" class="card-link">Vehicle Profiles</a></li>-->
    <!--<li class="list-group-item">Vestibulum at eros</li>-->
  </ul>
  <div class="card-block">

  </div>
</div>
</div>
</div>

<div id="clearButtonDiv">
  <button type="submit" style="font-size: 13px;" class="c-btn c-btn-secondary" (click)="clearSearchClicked()">Clear Search</button>
</div>


<div id="myModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Customer Verification</h3>
        <h5>Authenticate the customer by verifying two (2) pieces of information below:</h5>
      </div>
      <div class="modal-body">
        <li><b>Name: </b>{{selectedAccount.firstName}} {{selectedAccount.lastName}}</li>
        <li><b>Email: </b>{{selectedAccount.email}}</li>
        <li><b>Address: </b>{{selectedAccount.address1}}</li>
        <li><b>State: </b>{{selectedAccount.country}}</li>
        <li><b>Home Phone: </b>{{selectedAccount.phone}}</li>
        <li><b>City: </b>Austin</li>
        <li><b>Zip Code: </b>{{selectedAccount.postalCode}}</li>
      </div>
      <div class="modal-footer">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="customerAuthenticatedCheckbox" (click)="verificationChecked()">
          <label class="form-check-label" for="customerAuthenticatedCheckbox">
            Customer Authenticated?
          </label>
          <!--*ngIf="checkboxFlag"-->
          <button type="button" class="c-btn c-btn-primary" id="goToResultsButton" [routerLink]="['/accountsearch', selectedAccount.id]" (click)="goToResults(selectedAccount)" disabled>Continue</button>

          <!--(click)="goToResults(selectedAccount)-->
        </div>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>

  </div>
</div>
