<nav class="navbar navbar-default navbar2 custom" id="stickyNav">
  <div class="container-fluid navbar2">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav" *ngFor="">
      <li><a [routerLink]="['/accountsearch', vin]" fragment="contactSection">Contact Details</a></li>
      <li><a [routerLink]="['/accountsearch', vin]" fragment="vehicleProfilesSection">Vehicle Profiles</a></li>
      <li><a [routerLink]="['/accountsearch', vin]" fragment="applicationsSection">Applications</a></li>
      <li><a [routerLink]="['/accountsearch', vin]" fragment="agreementsSection">Agreements</a></li>
      <li><a [routerLink]="['/accountsearch', vin]" fragment="favoritesSection">Favorites</a></li>
      <!--<li><a>About</a></li>-->
    </ul>
  </div>
</nav>
