<!--<div class="quickLinks">-->
  <!--Jump to:-->
  <!--<a [routerLink]="['/accountsearch', vin]" fragment="contactSection">'Contact Details'</a> |-->
  <!--<a [routerLink]="['/accountsearch', vin]" fragment="vehicleProfilesSection">'Vehicle Profiles'</a> |-->
  <!--<a [routerLink]="['/accountsearch', vin]" fragment="applicationsSection">'Applications'</a> |-->
  <!--<a [routerLink]="['/accountsearch', vin]" fragment="agreementsSection">'Agreements'</a> |-->
  <!--<a [routerLink]="['/accountsearch', vin]" fragment="favoritesSection">'Favorites'</a>-->
<!--<sticky-nav></sticky-nav>-->
<div class="nav-wrapper">
<nav class="navbar navbar-default navbar2 custom" id="stickyNav">
  <div class="container-fluid navbar2">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item custom">
        <!--<span class="glyphicon glyphicon-user"></span>-->
        <span id="topNavName">{{chosenAccount.contactInfo.firstName}} {{chosenAccount.contactInfo.lastName}} | </span>
      </li>
      <li class="nav-item custom2">
        <span id="topNavEmail"><span class="glyphicon glyphicon-envelope"></span> : {{chosenAccount.contactInfo.email}}</span>
        <br>
        <span id="topNavPhone"><span class="glyphicon glyphicon-earphone"></span> : {{chosenAccount.contactInfo.phone}}</span>

      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/accountsearch', uuid]" fragment="contactSection">Contact Details</a></li>
      <li><a [routerLink]="['/accountsearch', uuid]" fragment="vehicleProfilesSection">Vehicle Profiles</a></li>
      <li><a [routerLink]="['/accountsearch', uuid]" fragment="applicationsSection">Applications</a></li>
      <li><a [routerLink]="['/accountsearch', uuid]" fragment="agreementsSection">Agreements</a></li>
      <li><a [routerLink]="['/accountsearch', uuid]" fragment="favoritesSection">Favorites</a></li>
    </ul>
  </div>
</nav>
</div>


<div class="container">
<div class="row" id="contactSection">
  <div style="display: inline;">
  <h3 class="sectionHeader">Contact Details <a (click)="showContactDetailsEditModal(chosenAccount)" style="display: inline; margin-left: auto; margin-right: auto;"><span class="glyphicon glyphicon-pencil" style="font-size: 18px;"></span></a></h3>
  <div style="float: right; display: inline-block; text-align: right;">
    <button style="display: inline;" (click)="closeAccountModalClicked(chosenAccount)">Close Account</button>
  </div>
  </div>
<div class="col-md-4 col-md-offset-2">
  <ul style="list-style-type: none; padding-top: 20px; font-size: 16px;">
    <li><span style=""><b>Name:</b> {{chosenAccount.contactInfo.firstName}} {{chosenAccount.contactInfo.lastName}}</span></li>
    <!--<li><span style=""><b>User Type:</b> {{chosenAccount.contactInfo.userType}}</span></li>-->
    <li><span style=""><b>Home Phone:</b> {{chosenAccount.contactInfo.phone}}</span></li>
    <li><span style=""><b>Username:</b> {{chosenAccount.contactInfo.userName}}</span></li>
    <li><span style=""><b>Contact Record Type:</b> {{chosenAccount.contactInfo.recordType}}</span></li>
  </ul>
</div>
  <div class="col-md-4">
    <ul style="list-style-type: none; padding-top: 20px; font-size: 16px;">
      <li><span style=""><b>Email:</b> {{chosenAccount.contactInfo.email}}</span></li>
      <li><span style=""><b>Mobile Phone:</b> {{chosenAccount.contactInfo.phone}}</span></li>
      <li><span style=""><b>Address:</b></span></li>
      <li><span style=""><b>Info 3 Account Status:</b> {{chosenAccount.contactInfo.info3AccountStatus}}</span></li>
      <!--<li><span style=""><b>DOB:</b> {{chosenAccount.contactInfo.dob}}</span></li>-->
    </ul>
  </div>
</div>


<div class="row" id="vehicleProfilesSection">
<h3 class="sectionHeader">Vehicle Profiles</h3>
<table class="table table-bordered table-striped center_div" style="margin-top: 20px;">
  <thead>
  <tr>
    <th>Year/Make/Model</th>
    <th>Vehicle Profile: Contact/Vehicle Name</th>
    <th>Vehicle Name</th>
    <th>Association Status</th>
    <th>Remove Request Date</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicleProfile of chosenAccount.vehicleProfiles">
    <td>{{vehicleProfile.yearMakeModel}}</td>
    <td [routerLink]="['/vehicleprofile', vehicleProfile.vin]"><a>{{vehicleProfile.vehicleProfile}}</a></td>
    <td><a (click)="showVinDetailsEditModal(vehicleProfile.vin)">{{vehicleProfile.vehicleName}}</a></td>
    <td>{{vehicleProfile.associationStatus}}</td>
    <td>{{vehicleProfile.removeRequestDate}}</td>
    <td style="text-align: center;"><a (click)="deleteProfileFromAccount(vehicleProfile.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
  </tr>
  </tbody>
</table>
</div>

<div class="row" id="applicationsSection">
<h3 class="sectionHeader">Applications</h3>
<table class="table table-bordered table-striped center_div" style="margin-top: 20px;">
  <thead>
  <tr>
    <th>Application: Contact/Application Name</th>
    <th>Application Name</th>
    <th>Category</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let application of chosenAccount.applications">
    <td>{{application.contactApplicationName}}</td>
    <td>{{application.applicationName}}</td>
    <td>{{application.category}}</td>
    <td style="text-align: center;"><a><span class="glyphicon glyphicon-trash"></span></a></td>
  </tr>
  </tbody>
</table>
</div>

<div class="row" id="agreementsSection" *ngFor="let agreement of chosenAccount.agreements">
<h3 class="sectionHeader">Agreements</h3>
<div class="col-md-6" style="padding-left: 0px;">
<table class="table table-bordered table-striped" style="margin-top: 20px;">
  <tbody>
  <tr>
    <td>Agreement Status Refresh Date: <b><span style="float: right">{{agreement.agreementRefreshDate}}</span></b></td>
  </tr>
  <tr>
    <td>Effective Agreements Accepted?: <b><span style="float: right">{{agreement.agreementsAccepted}}</span></b></td>
  </tr>
  </tbody>
</table>
</div>
<div class="col-md-6" style="padding-right: 0px;">
  <table class="table table-bordered table-striped" style="margin-top: 20px;">
    <tbody>
    <tr>
      <td>Status: <b><span style="float: right">{{agreement.status}}</span></b></td>
    </tr>
    <tr>
      <td>Last Agreement Accept Date: <b><span style="float: right">{{agreement.lastAcceptDate}}</span></b></td>
    </tr>

    </tbody>
  </table>
</div>
</div>

  <div class="row" id="verificationEmailHistorySection">
    <h3 class="sectionHeader">Verification Email History</h3>
    <table class="table table-bordered table-striped center_div" style="margin-top: 20px;">
      <thead>
      <tr>
        <th>Email</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Joseph.kanaan@gm.com
        </td>
        <td>
          1/1/2018
        </td>
      </tr>
      </tbody>
    </table>
  </div>


<!--<div class="row" id="favoritesSection">-->
<!--<h3 class="sectionHeader">Favorites</h3>-->
<!--<table class="table table-bordered table-striped center_div" style="margin-top: 20px;">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Favorite Name</th>-->
    <!--<th>Record Type</th>-->
    <!--<th>Value</th>-->
    <!--<th>Action</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let favorite of chosenAccount.favorites">-->
    <!--<td><a>{{favorite.favoriteName}}</a></td>-->
    <!--<td>{{favorite.recordType}}</td>-->
    <!--<td>{{favorite.value}}</td>-->
    <!--<td style="text-align: center;"><a (click)="showFavoritesEditModal(chosenAccount)"><span class="glyphicon glyphicon-pencil"></span></a> | <a><span class="glyphicon glyphicon-trash"></span></a></td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->
<!--</div>-->

    </div>

    <!--<div id="favoritesEditModal" class="modal fade" role="dialog">-->

      <!--<div class="modal-dialog">-->

        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--<h3>Edit Favorite a</h3>-->
        <!--&lt;!&ndash;<h5>Edit customer contact details below:</h5>&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--&lt;!&ndash;<li><b>Name: </b>{{selectedAccount.contactName}}</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><b>Email: </b>{{selectedAccount.primaryEmail}}</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><b>Address:</b></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><b>State:</b></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><b>Home Phone: </b>{{selectedAccount.homePhone}}</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><b>City: </b></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><b>Zip Code: </b>{{selectedAccount.zip}}</li>&ndash;&gt;-->
        <!--<form>-->
          <!--&lt;!&ndash;<h3 style="text-decoration: underline; padding-bottom: 20px;">Customer Search</h3>&ndash;&gt;-->
          <!--<div class="form-row">-->
            <!--<div class="form-group col-md-6">-->
              <!--<label for="inputEmail">Email</label>-->
              <!--<input type="email" class="form-control" id="inputEmail" placeholder="{{chosenAccount.contactInfo.email}}" name="emailInput" autocomplete="email">-->
            <!--</div>-->
            <!--<div class="form-group col-md-6">-->
              <!--<label for="inputPhone">Phone Number</label>-->
              <!--<input type="text" class="form-control" id="inputPhone" placeholder="{{chosenAccount.contactInfo.phone}}" autocomplete="tel">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="form-group col-md-6">-->
              <!--<label for="inputLastName">Last Name</label>-->
              <!--<input type="email" class="form-control" id="inputLastName" placeholder="{{chosenAccount.contactInfo.lastName}}" autocomplete="last-name">-->
            <!--</div>-->
            <!--<div class="form-group col-md-6">-->
              <!--<label for="inputFirstName">First Name</label>-->
              <!--<input type="text" class="form-control" id="inputFirstName" placeholder="{{chosenAccount.contactInfo.firstName}}" autocomplete="given-name">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="form-group col-md-6">-->
              <!--&lt;!&ndash;<label for="inputZip">Zip/Postal Code</label>&ndash;&gt;-->
              <!--<div class="form-group">-->
                <!--<label for="sel1">Info3 Account Status</label>-->
                <!--<select class="form-control" id="sel1">-->
                  <!--<option>Open</option>-->
                  <!--<option>Closed</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group col-md-6">-->
              <!--<div class="form-group">-->
                <!--<label for="sel2">User Type</label>-->
                <!--<select class="form-control" id="sel2">-->
                  <!--<option>Standard User</option>-->
                  <!--<option>Super User</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->



      <!--</div>-->
      <!--<div class="modal-footer" style="border-top: 0px;">-->
        <!--<button type="button" style="font-size: 15px" class="c-btn c-btn-primary" data-dismiss="modal">Save</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->




<!--</div>-->

<div id="contactDetailsEditModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Edit Contact Details for {{chosenAccount.contactInfo.firstName}} {{chosenAccount.contactInfo.lastName}}</h3>
        <!--<h5>Edit customer contact details below:</h5>-->
      </div>
      <div class="modal-body">
        <!--<li><b>Name: </b>{{selectedAccount.contactName}}</li>-->
        <!--<li><b>Email: </b>{{selectedAccount.primaryEmail}}</li>-->
        <!--<li><b>Address:</b></li>-->
        <!--<li><b>State:</b></li>-->
        <!--<li><b>Home Phone: </b>{{selectedAccount.homePhone}}</li>-->
        <!--<li><b>City: </b></li>-->
        <!--<li><b>Zip Code: </b>{{selectedAccount.zip}}</li>-->
        <form>
          <!--<h3 style="text-decoration: underline; padding-bottom: 20px;">Customer Search</h3>-->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="{{chosenAccount.contactInfo.email}}" name="emailInput" autocomplete="email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPhone">Primary Phone</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="{{chosenAccount.contactInfo.phone}}" autocomplete="tel">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input type="email" class="form-control" id="inputLastName" placeholder="{{chosenAccount.contactInfo.lastName}}" autocomplete="last-name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputFirstName">First Name</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="{{chosenAccount.contactInfo.firstName}}" autocomplete="given-name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="{{chosenAccount.contactInfo.phone}}" autocomplete="">
            </div>
            <div class="form-group col-md-6">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip" placeholder="{{chosenAccount.contactInfo.phone}}" autocomplete="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputState">State</label>
              <input type="text" class="form-control" id="inputState" placeholder="{{chosenAccount.contactInfo.phone}}" autocomplete="">
            </div>

            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" placeholder="{{chosenAccount.contactInfo.phone}}" autocomplete="">
            </div>

          </div>

        </form>



      </div>
      <div class="modal-footer" style="border-top: 0px;">
        <button type="button" style="font-size: 15px" class="c-btn c-btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>

  </div>
</div>


<div id="vinDetailsEditModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Details for VIN {{chosenVin}}</h3>
        <!--<h5>Edit customer contact details below:</h5>-->
      </div>
      <div class="modal-body">
        <button type="button" class="c-btn c-btn-primary" (click)="removeProfilesFromVin(chosenVin)">Remove All Vehicle Profiles from  {{chosenVin}}</button>
      </div>
      <div class="modal-footer" style="border-top: 0px;">
        <button type="button" style="font-size: 15px" class="c-btn c-btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>

  </div>
</div>


<div id="closeAccountModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Close Account</h3>
        <h5>Please be aware that by closing your account you will:</h5>
        <h6>1. Lose any purchase you have made.</h6>
        <h6>2. Create a new Username and Password in the future.</h6>
        <h6>3. Need to re-install any apps that you have downloaded.</h6>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sel1">Reason</label>
          <select class="form-control" id="sel1">
            <option>Customer Request</option>
            <option>Deceased</option>
            <option>Second Owner/Sold/Traded</option>
            <option>Terms and Conditions Declined via Web</option>
            <option>Terms and Conditions Declined via Vehicle</option>
            <option>Terms and Conditions Declined via Critical Timeout</option>
          </select>
        </div>

      </div>
      <div class="modal-footer" style="border-top: 0px;">
        <button type="button" style="font-size: 15px" class="c-btn c-btn-primary" data-dismiss="modal">Close Account</button>
      </div>
    </div>

  </div>
</div>


<div style="height: 200px ;"></div>
